@{
    ViewData["Title"] = "Post Forum Thread";
}
<h1>@ViewData["Title"]</h1>
@section headerscripts
{
    <script type="text/javascript">

        $(document).ready(function()
        {

            memberId = @ViewData["memberId"];
            forumId = @ViewData["forumId"];
            forumThreadId = @ViewData["forumThreadId"];
            toForumThreadId = @ViewData["toForumThreadId"];
            var ang_element = angular.element($('#memberId'))[0];
            var ang_elementForumId = angular.element($('#forumId'))[0];
            var ang_elementForumThreadId = angular.element($('#forumThreadId'))[0];
            var ang_elementToForumThreadId = angular.element($('#toForumThreadId'))[0];
            $(ang_element).val(memberId);
            $(ang_elementForumId).val(forumId);
            $(ang_elementForumThreadId).val(forumThreadId);
            
            $(ang_elementToForumThreadId).val(toForumThreadId);
            
        });


    </script>
    
}
<div ng-app="developersHubApp">
    <div ng-view></div>
</div>    

